<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
    <!-- Bootstrap CSS (CDN) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div th:replace="~{../fragments/header :: header(user=${user})}"></div>

    <div class="alert alert-success" role="alert"
         th:if="${message}">
        <span th:text="${message}"></span>
        <button aria-label="Close" class="btn-close" data-bs-dismiss="alert"
                type="button"></button>
    </div>

    <div class="list-group list-group-flush border-bottom mb-3" id="post-list">
        <div>
            <p th:text="${postListDTO.totalCount} + '건'"></p>
        </div>
        <div th:each="postDTO : ${postListDTO.posts}">
            <input type="hidden" th:value="${postListDTO.totalPage}" id="totalPage">
            <a href="#" th:href="@{/posts/{id}(id=${postDTO.id})}" class="list-group-item list-group-item-action  py-3 lh-sm" aria-current="true">
                <div class="d-flex w-100 align-items-center justify-content-between">
                    <strong class="mb-1" th:text="${postDTO.title +'(' + postDTO.comments + ')'}">게시글 제목입니다.</strong>
                    <small th:text="${#temporals.format(postDTO.createdAt, 'yyyy-MM-dd HH:mm:ss')}">0000-00-00</small>
                </div>
                <div class="col-10 mb-1 small">
                    <span th:text="${postDTO.username}">작성자</span>

                    &nbsp;

                    <i class="bi bi-heart-fill"></i>
                    <span th:text="${postDTO.likes}">00</span>
                </div>
            </a>
        </div>
    </div>

    <div>
        <nav aria-label="Page navigation example">
            <ul id="pagination" class="pagination justify-content-center">
            </ul>
        </nav>
    </div>

    <div th:replace="~{../fragments/footer :: footer}"></div>

</div>

<script th:src="@{/js/pagination.js}"></script>

<!-- Bootstrap JS and Popper.js (CDN) -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>

<!-- Bootstrap Font Icon CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

</body>
</html>