<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <title th:text="${post.title}">게시물 상세</title>
    <!-- Bootstrap CSS (CDN) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div th:replace="~{../fragments/header :: header(user=${user})}"></div>

    <div class="list-group list-group-flush border-bottom mb-3">
        <div class="form-group">
            <h1 class="h3 mb-3 fw-normal" th:text="${post.title}">게시물 제목입니다.</h1>
            <div class="mb-3 text-end">
                <button id="postEditButton" type="button" class="btn btn-link">수정</button>
                <button id="postDeleteButton" type="button" class="btn btn-link">삭제</button>
            </div>
        </div>

        <div class="form-group mb-5">
            <span th:text="${post.content}">
                게시물 내용입니다.게시물 내용입니다.게시물 내용입니다.
                게시물 내용입니다.게시물 내용입니다.게시물 내용입니다.
                게시물 내용입니다.게시물 내용입니다.게시물 내용입니다.
                게시물 내용입니다.게시물 내용입니다.게시물 내용입니다.
            </span>
        </div>

        <div class="mb-3">
            <button class="btn btn-primary" id="postLikeButton">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                </svg>
                <span th:text="${likes}">00</span>
            </button>
        </div>
    </div>

    <h6>댓글(<span th:text="${commentsCount}" id="commentsCount">00</span>)</h6>

    <div class="text-end">
        <button type="button" class="btn btn-link">새로고침</button>
    </div>

    <!-- 댓글 -->
    <div class="d-flex flex-column w-75 p-3 m-auto">
        <input type="hidden" th:value="${post.id}" id="postId">
        <input th:if="${user != null}" type="hidden" th:value="${user.id}" id="userId">

        <!-- 댓글 입력 폼 -->
        <div th:if="${user != null}" class="form-group mb-3">
            <label for="comment" th:text="${user.userId}">닉네임</label>
            <textarea class="form-control" id="comment" rows="3"></textarea>
            <button class="btn btn-primary mt-2" id="submitComment">등록</button>
        </div>
        <div th:if="${user == null}" class="mb-3">
            회원에게만 댓글 작성 권한이 있습니다.
        </div>

        <div id="commentListContainer">
             <div th:each="comment : ${commentList}">
                <!-- 기본 댓글 -->
                <div class="card p-2 mb-2">
                    <div class="card-body">
                        <p class="card-text"><b th:text="${comment.username}">닉네임</b></p>
                        <p class="card-text" th:text="${comment.content}">댓글 내용이 들어갑니다.</p>
                        <button class="btn btn-sm btn-outline-primary reply-btn">답글</button>
                    </div>
                </div>


                <!-- 대댓글 -->
                <div th:each="reply : ${comment.replies}">
                    <div class="ms-4 border-start ps-3">
                        <div class="card p-2 mb-2">
                            <div class="card-body">
                                <p class="card-text"><b th:text="${comment.username}">닉네임</b></p>
                                <p class="card-text" th:text="${comment.content}">대댓글 내용이 들어갑니다.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="~{../fragments/footer :: footer}"></div>
</div>

<script th:src="@{/js/post.js}"></script>
<script th:src="@{/js/comment.js}"></script>

<!-- Bootstrap JS and Popper.js (CDN) -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>

</body>
</html>